.search-result-title h1 {
    font-weight: bold !important;
    color: blue !important;
}
.pi-cr {
    position: relative !important;
}
.canvasjs-chart-container {
    width: 100% !important;
    height: 312.4px !important;
}
.canvasjs-chart-canvas {
    position: absolute !important;
}
.pi-cr { 
    pointer-events: none;
}